<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
    <title>
        New Member
    </title>
</head>
<body>
<div class="container">
    <form action="/members/new" method="post">
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" id="name" name="name" placeholder="wright your name">
        </div>
        <button type="submit">submmit</button>
    </form>
</div>

</body>
</html>